<nav>
  <div class="nav-left">
    <div class="logo nav-link">Members Only</div>
  </div>
  <div class="nav-right">
    <div class="nav-link">
        <a href="/sign-up">Sign up</a>
    </div>
    <div class="nav-link">
        <a href="/log-in">Log in</a>
    </div>
  </div>
</nav>