<nav class="bg-violet-300 shadow-md shadow-gray-300 text-violet-50 ">
  <div class="nav-left">
    <div class="text-xl hover:text-violet-200 cursor-pointer">Members Only</div>
  </div>
  <div class="nav-right">
    <% if(locals.user) { %>
      <% if(locals.user.member_status == false) { %>
      <div class="hover:text-violet-200">
        <a href="/become-member">Become a member</a>
      </div>
      <% } %>
        <div class="hover:text-violet-200">
          <a href="/add-message">Add Message</a>
        </div>
        <div class="hover:text-violet-200">
          <a href="/log-out">Log out</a>
        </div>
    <%  } else { %>
        <div class="hover:text-violet-200">
            <a href="/sign-up">Sign up</a>
        </div>
        <div class="hover:text-violet-200">
            <a href="/log-in">Log in</a>
        </div>
    <% } %>
  </div>
</nav>