<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/output.css">
  <title>Page Not Found - Members Only</title>
</head>
<body class="bg-violet-50 h-screen">
  <div class="fixed inset-0 flex flex-col items-center justify-center gap-y-5 bg-white w-1/2 max-w-lg h-1/4 m-auto rounded-md shadow-md shadow-slate-200 p-5">
    <h1>The page you are looking for does not exist.</h1>
    <a href="/" class="text-sky-400 underline">Home</a>
  </div>
</body>
</html>