<form action="become-member" method="post">
    <label for="secret">Enter the secret code to become a member</label>
    <input type="password" name="secret" id="secret">
    <button type="submit">Submit</button>
    <%- include("./partials/errors.ejs") %>
</form>