<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/nav.css">
  <title>Members Only</title>
</head>
<body>
  <%- include("./partials/navbar.ejs") %>
  <h1>Members Only Messaging Board</h1>
  <div class="messages-container">
    <% messages.length != 0 && messages.map(message => { %>
      <div class="message">
        <div class="message-wrapper">
          <p>
            <%= message.message %>
          </p>
        </div>
        <div class="details">
          <div class="message-author"><%= message.author_name%></div>
          <div class="message-date"><%= message.date_added %></div>
        </div>
      </div>
    <% }) %>
    <% if(messages.length == 0 ) { %>
      <div class="empty-message">
        <i>No message found</i>
      </div>
    <% } %>
  </div>
</body>
</html>