<form action="sign-up" method="post">
  <h1>Sign up</h1>
  <div class="form-field">
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" id="firstname" required>
  </div>
  <div class="form-field">
    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" id="lastname" required>
  </div>
  <div class="form-field">
    <label for="username">User Name</label>
    <input type="text" name="username" id="username" required>
  </div>
  <div class="form-field">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" minlength="4"  required>
  </div>
  <div class="form-field">
    <label for="repassword">Re-enter Password</label>
    <input type="password" name="repassword" id="repassword" minlength="4" required>
  </div>
  <button type="submit">Sign Up</button>
</form>